language: bash
os: ubuntu
dist: xenial

bash:
  - "4.4"

sudo: enabled

script:
  - chmod 755 ubuntu-install.sh
  - ./ubuntu-install.sh

#script:
#  - bash demo.sh

after_success:
  - crontab
  - chmod 755 rsnapshot-check.sh

notifications:
  email: false
